<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Casting Agency</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
</style>
<script src=""></script>

<body>

    <div class="">
        <h1>Casting Agency</h1>

        <p>Casting Assistant:</p>
        <ul>
            <li>GET actors, GET movies</li>
        </ul>


        <p>Casting Director:</p>
        <ul>
            <li>GET actors, GET movies</li>
            <li>POST actor, DELETE actor </li>
            <li>PATCH actors, PATCH movies</li>
        </ul>


        <p>Executive Producer:</p>
        <ul>
            <li>GET actors, GET movies</li>
            <li>POST actor, DELETE actor </li>
            <li>PATCH actors, PATCH movies</li>
            <li>POST movie, DELETE movie</li>
        </ul>

        <a href="/actors">GET actors</a>
        <a href="/movies">GET movies</a>
    </div>

</body>

</html>